main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 105px);
}
.add-section {
  width: 100%;
}
.add-form {
  max-width: 800px;
  margin: 0 auto;
}
.add-form h5 {
  font-weight: 700;
  margin-bottom: 5px;
  margin-top: 10px;
}
.add-form div input {
  border-radius: 3px;
}

.add-form .add-btn {
  background-color: var(--main--bg-color);
  color: #e5e5e5;
}
.add-form .add-btn.active {
  background-color: var(--main-color);
  color: #000;
}
.dark .add-form .btn-container button:first-child {
  background-color: var(--main-darkBtn-color);
  color: #fff;
  border: 1px solid #606060;
}
