.item-header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.item-header .title {
  margin: 0;
}
.item-header .date {
  position: absolute;
  right: 0;
  color: var(--text-cloudy);
}

.item-detail {
  background-color: var(--bg-subContainer);
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 30px;
}
.item-detail > * {
  color: var(--text-main);
  margin: 10px 0;
}
.item-detail .description {
  background: #ffffff0d;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 1px 8px -6px var(--shadow-main);
}

.item-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.item-btn button {
  width: 100%;
  padding: 10px;
}
