:root {
  --main-color: #ffffff;
  --main-bg-color: #d9d9d9;
  --main-arrow-color: #909090;
  --main-delete-color: #ea9b9b;
  --main-textShadow-color: rgb(179, 179, 179);
  --main-textShadowRight-color: rgb(255, 208, 21);
  --main-mainContainer-color: #ffffff7d;
  --main-subContainer-color: #ffffffc2;
  --main-header-color: #fffffff0;
  --main-footer-color: #ffffff9e;
  --main-box-color: rgb(107, 107, 107);
  --main-black-color: #000;

  /* dark */
  --main-darkColor: #327258;
  --main-darkText-color: rgb(255, 255, 255);
  --main-darkBg-color: #6e6e6e;
  --main-darkArrow-color: #909090;
  --main-darkDelete-color: #8e1f1f;
  --main-darkTextShadow-color: rgb(179, 179, 179);
  --main-darkTextShadowRight-color: rgb(255, 208, 21);
  --main-darkBtn-color: rgb(0, 0, 0);
  --main-darkMainContainer-color: #0000009c;
  --main-darkSubContainer-color: #333333db;
  --main-darkHeader-color: #0c0c0ccc;
  --main-darkFooter-color: #0000009e;
  --main-darkBox-color: rgb(0, 0, 0);
  --main-darkWhite-color: rgb(255, 255, 255);
}

* {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 16px;
  box-sizing: border-box;
}
body {
  margin: 0;
  background-image: url("https://images.unsplash.com/photo-1516979187457-637abb4f9353?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MTd8fHxlbnwwfHx8fA%3D%3D&w=1000&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  transition: 0.3s;
}
a {
  text-decoration: none;
  color: #000;
}
h5 {
  margin: 0;
}

/* common */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  transition: 0.3s;
}
.inner {
  padding: 50px 20px;
  align-items: center;
  margin: 20px 0;
  background: var(--main-mainContainer-color);
  border-radius: 5px;
  background-blend-mode: overlay;
  backdrop-filter: blur(33px);
  box-shadow: 0 9px 8px -7px var(--main-black-color);
  list-style: none;
}
.btn {
  background: var(--main-subContainer-color);
  border-radius: 5px;
  border: 1px solid #e5e5e5;
  cursor: pointer;
  box-shadow: 0 4px 7px -4px var(--main-black-color);
  transition: 0.3s;
}
.btn:hover {
  background-color: var(--main-bg-color);
}
.title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  color: #000;
}
.sub-title {
  font-weight: 700;
}

/* input */
.form-container {
  display: flex;
  flex-direction: column;
}
.input-container {
  position: relative;
}
.input-container input {
  width: 100%;
  padding: 10px;
  border: 1px solid #9a9a9a;
  outline: none;
}
.input-container:not(:first-child) {
  margin-top: -1px;
}
.input-container.focus {
  z-index: 5;
}
.input-container.focus input {
  border: 1px solid #000;
}
.input-container .check {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 2px solid #d9d9d9;
  color: #d9d9d9;
}
.input-container .check::before {
  content: "X";
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
.input-container.active input:valid,
.input-container.active input:valid {
  background-color: #aaffaa !important;
}
.input-container.active input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #aaffaa inset;
}
.input-container.active .check,
.input-container.no-active .check,
.input-container.active .check {
  border: 2px solid #000;
  color: #000;
}
.form-container .btn-container {
  margin-top: 30px;
  display: flex;
  gap: 5px;
}
.form-container input,
.form-container a,
.form-container button {
  border-radius: 5px;
  border: 1px solid #e5e5e5;
  box-shadow: 0 4px 7px -4px var(--main-black-color);
  transition: 0.3s;
}
.btn-container > * {
  width: 100%;
  flex: 1;
  padding: 10px;
  text-align: center;
  border: 1px solid #9a9a9a;
  cursor: pointer;
}
.btn-container a {
  background-color: var(--main-color);
  color: #000;
}
.btn-container button:hover {
  background-color: #ebebeb !important;
}

/* dark */
body.dark {
  backdrop-filter: brightness(0.2);
}
.dark .container,
.dark .container .title,
.dark .container button,
.dark .container a {
  color: var(--main-darkText-color);
}
.dark .container .inner {
  background-color: var(--main-darkMainContainer-color);
}
.dark .container span {
  color: #e5e5e5;
}
.dark .btn {
  background-color: var(--main-darkBtn-color);
  border: 1px solid #606060;
}
.dark .btn:hover {
  background-color: rgb(35, 35, 35) !important;
}

/* dark-input */
.dark .form-container {
  color: #ffffff;
}
.dark .btn-container a {
  background-color: var(--main-darkBox-color);
  color: #fff;
}
.dark .btn-container button {
  background-color: var(--main-darkFooter-color);
  color: #000;
  border: 1px solid #606060;
}
.dark .btn-container button.active {
  background-color: var(--main-darkBox-color);
  color: #fff;
  border: 1px solid #9a9a9a;
}
.dark .btn-container > *:hover {
  background-color: rgb(35, 35, 35) !important;
}
