@import url("https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&display=swap");

/* main */
main {
  min-height: calc(100vh - 125px);
}
.sub-title {
  letter-spacing: 1px;
}
.books-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  max-height: calc(100vh - 454px);
  overflow-y: auto;
}
.books-container .book-box {
  position: relative;
  width: 100%;
  height: 300px;
  background-color: var(--bg-subContainer);
  color: var(--text-main);
  border-radius: 5px;
  padding: 10px;
}
.books-container .book-title {
  min-height: 24px;
  margin-bottom: 10px;
}
.books-container .book-items {
  display: flex;
}
.books-container .book-btn {
  display: flex;
  width: 100%;
  gap: 5px;
}
.books-container .book-date {
  position: absolute;
  top: 10px;
  right: 10px;
  color: var(--text-cloudy);
}

/* books style */
.btn-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 10px;
  transition: 0.3s;
  transform-style: preserve-3d;
}
.books-container .btn,
.books-items .btn {
  width: 80%;
  font-size: 1.2em;
  font-weight: 700;
  padding: 0.1em 0.8em;
  transform: rotate(1deg);
  opacity: 1;
  box-shadow: none;
  background: none;
  border: none;
  transition: 0.3s;
}
.books-container .btn:hover,
.books-items .btn:hover {
  color: var(--hover-btn);
  background: none;
}
.books-container .btn-back:hover,
.books-items .btn-back:hover {
  color: var(--hover-back);
  background: none;
}
.books-container .btn-delete:hover,
.books-items .btn-delete:hover {
  color: var(--hover-delete);
  background: none;
}

.book {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 160px;
  height: 220px;
  margin: 0;
  perspective: 1000px;
  transform-style: preserve-3d;
  transition: 0.5s;
}
.book-event {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(var(--book-paper-bg), var(--book-paper-bg-row));
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  overflow: hidden;
}

/* 2. background & color  */
.paperback_front {
  background-color: #000;
  backface-visibility: hidden;
}

.paperback_front::after {
  content: "";
  background-image: linear-gradient(
    -135deg,
    rgba(255, 255, 255, 0.45) 0%,
    transparent 100%
  );
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.paperback_back {
  background-color: #333;
}

/* page */

.ruled_paper > li {
  background-color: var(--book-paper);
  background-size: 100% 0.6em;
  box-shadow: inset 0px -1px 2px rgba(50, 50, 50, 0.1),
    inset -1px 0px 1px rgba(150, 150, 150, 0.2);
  border-radius: 0px 10px 10px 0px;
}

/*
	3. opening cover, back cover and pages
*/

.paperback_front {
  transform: rotateY(-38deg) translateZ(0px);
  z-index: 100;
}

.paperback_back {
  transform: rotateY(-25deg);
}

.ruled_paper li:nth-child(1) {
  transform: rotateY(-27deg);
}

.ruled_paper li:nth-child(2) {
  transform: rotateY(-29deg);
}

.ruled_paper li:nth-child(3) {
  transform: rotateY(-31deg);
}

.ruled_paper li:nth-child(4) {
  transform: rotateY(-33deg);
}

.ruled_paper li:nth-child(5) {
  transform: rotateY(-35deg);
}

/*
	4. position, transform y transition
*/

.paperback_front,
.paperback_back,
.paperback_front li,
.paperback_back li {
  border-radius: 2px 8px 8px 2px;
  position: absolute;
  top: 0;
  left: 0px;
  width: 100%;
  height: 100%;
  margin: 0;
  transform-style: preserve-3d;
}

.paperback_front,
.paperback_back {
  transform-origin: top left;
}

.paperback_front {
  transition: all 0.5s ease;
}

.paperback_front li img,
.paperback_back li img {
  border-radius: 2px 8px 8px 2px;
  position: absolute;
  top: 0;
  left: 0;
}

/* Ruled paper */

.ruled_paper,
.ruled_paper > li {
  position: absolute;
  transform-style: preserve-3d;
  margin: 0;
}

.ruled_paper {
  width: 98%;
  height: 98%;
  top: 1%;
  left: 1%;
  z-index: 10;
}

.ruled_paper > li {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.ruled_paper > li {
  transform-origin: left center;
  transition-property: transform;
  transition-timing-function: ease;
}

.ruled_paper li:nth-child(1) {
  transition-duration: 0.6s;
}

.ruled_paper li:nth-child(2) {
  transition-duration: 0.6s;
}

.ruled_paper li:nth-child(3) {
  transition-duration: 0.4s;
}

.ruled_paper li:nth-child(4) {
  transition-duration: 0.5s;
}

.ruled_paper li:nth-child(5) {
  transition-duration: 0.5s;
}

/*
	5. events
*/

.book-box:hover .book,
.book.active {
  left: 68%;
}
.book-box:hover .book > .paperback_front,
.book.active > .paperback_front {
  transform: rotateY(-125deg) translateZ(0px);
  z-index: 0;
}

.book-box:hover .book > .ruled_paper li:nth-child(1),
.book.active > .ruled_paper li:nth-child(1) {
  transform: rotateY(-30deg);
  transition-duration: 1.5s;
}

.book-box:hover .book > .ruled_paper li:nth-child(2),
.book.active > .ruled_paper li:nth-child(2) {
  transform: rotateY(-35deg);
  transition-duration: 1.8s;
}

.book-box:hover .book > .ruled_paper li:nth-child(3),
.book.active > .ruled_paper li:nth-child(3) {
  transform: rotateY(-110deg);
  transition-duration: 2.2s;
}

.book-box:hover .book > .ruled_paper li:nth-child(4),
.book.active > .ruled_paper li:nth-child(4) {
  transform: rotateY(-115deg);
  transition-duration: 1.8s;
}

.book-box:hover .book > .ruled_paper li:nth-child(5),
.book.active > .ruled_paper li:nth-child(5) {
  transform: rotateY(-120deg);
  transition-duration: 1.2s;
}

/* active */

.book-box:hover .book,
.book.active {
  left: 68%;
}
.book-box:hover .book > .paperback_front,
.book.active > .paperback_front {
  transform: rotateY(-125deg) translateZ(0px);
  z-index: 0;
}

.book-box:hover .book > .ruled_paper li:nth-child(1),
.book.active > .ruled_paper li:nth-child(1) {
  transform: rotateY(-30deg);
  transition-duration: 1.5s;
}

.book-box:hover .book > .ruled_paper li:nth-child(2),
.book.active > .ruled_paper li:nth-child(2) {
  transform: rotateY(-35deg);
  transition-duration: 1.8s;
}

.book-box:hover .book > .ruled_paper li:nth-child(3),
.book.active > .ruled_paper li:nth-child(3) {
  transform: rotateY(-110deg);
  transition-duration: 2.2s;
}

.book-box:hover .book > .ruled_paper li:nth-child(4),
.book.active > .ruled_paper li:nth-child(4) {
  transform: rotateY(-115deg);

  transition-duration: 1.8s;
}

.book-box:hover .book > .ruled_paper li:nth-child(5),
.book.active > .ruled_paper li:nth-child(5) {
  transform: rotateY(-120deg);

  transition-duration: 1.2s;
}

/*
	6. Bonus
*/

/* Basic ribbon */

.ribbon {
  display: block;
  position: absolute;
  top: 11px;
  right: 1px;
  width: 40px;
  height: 20px;
  background: #c0392b;
  color: #fff;
  font-size: 0.7em;
  text-align: center;
  line-height: 20px;
  letter-spacing: 0.15em;
  transform: rotateZ(45deg) translateZ(1px);
  backface-visibility: hidden;
  z-index: 10;
}
.title {
  padding: 20px;
  backface-visibility: hidden;
  color: var(--text-main);
}

.ribbon::before,
.ribbon::after {
  content: "";
  position: absolute;
  top: -20px;
  width: 0;
  height: 0;
  border-bottom: 20px solid #c0392b;
  border-top: 20px solid transparent;
}

.ribbon::before {
  left: -20px;
  border-left: 20px solid transparent;
}

.ribbon::after {
  right: -20px;
  border-right: 20px solid transparent;
}

/* paper open */
.books-items {
  padding: 10px 20px;
  transition: 0.2s;
}
.item-header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.item-header .title {
  color: var(--text-main);
  margin: 0;
}
.item-header .date {
  position: absolute;
  top: 100%;
  right: 0;
  color: var(--text-cloudy);
}

.item-detail {
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 30px;
}
.item-detail > * {
  color: var(--text-main);
  margin: 10px 0;
}
.item-detail input {
  color: var(--text-main);
}
.item-detail .sub-title {
  margin: 0;
}
.item-detail .description {
  max-height: 375px;
  overflow: auto;
  border-radius: 5px;
  padding: 10px;
  margin: 0;
}

.item-detail .description::-webkit-scrollbar {
  width: 10px;
}
.item-detail .description::-webkit-scrollbar-thumb {
  background-color: var(--scroll-front);
}
.item-detail .description::-webkit-scrollbar-track {
  background-color: var(--scroll-back);
}

.item-btn {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  transform: translateZ(2px);
}
.item-btn button.btn {
  width: 100%;
  padding: 10px;
  transform: rotate(0deg);
  transition: color ease-in 0.2s;
}
/* font */
.item-header .title,
.item-header .date,
.item-detail .sub-title,
.item-detail input,
.item-detail span,
.item-btn button.btn {
  font-family: "Dongle", sans-serif;
  font-size: 32px;
}
.item-header .title {
  padding: 10px;
  font-size: 48px;
}
.item-detail .link {
  display: block;
  border: 2px solid transparent;
  cursor: pointer;
}
.item-detail .link_edit {
  display: none;
}
.item-header .date {
  font-size: 24px;
}
.books-items input {
  border: 1px solid transparent;
}
.books-items input:disabled {
  background-color: var(--book-paper);
}
.flex-align {
  display: flex;
  align-items: center;
}
.edit.books-items input {
  background-color: transparent;
  transform: translateZ(11px);
  border: 1px solid var(--border-input);
}
.edit .link {
  display: none;
}
.edit .link_edit {
  display: block;
}

/* button */
.btn-edit {
  display: block;
}
.btn-confirm {
  display: none;
}
.edit .btn-edit {
  display: none;
}
.edit .btn-confirm {
  display: block;
}
