:root {
  --main-bg-color: #d9d9d9;
  --main-arrow-color: #909090;
  --main-delete-color: #ea9b9b;
  --main-textshadow-color: rgb(179, 179, 179);
  --main-textshadowright-color: rgb(255, 208, 21);
  --main-maincontainer-color: #ffffff7d;
  --main-subcontainer-color: #ffffffc2;
  --main-header-color: #fffffff0;
  --main-footer-color: #ffffff9e;
  --main-box-color: rgb(107, 107, 107);
  --main-black-color: #000;
  --main-darkText-color: #000;
}

* {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 16px;
}
body {
  margin: 0;
  background-image: url("https://images.unsplash.com/photo-1516979187457-637abb4f9353?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MTd8fHxlbnwwfHx8fA%3D%3D&w=1000&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}
a {
  text-decoration: none;
}

/* common */
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.btn {
  background: var(--main-subcontainer-color);
  border-radius: 5px;
  border: 1px solid #e5e5e5;
  cursor: pointer;
  box-shadow: 0 4px 7px -4px var(--main-black-color);
  transition: 0.3s;
}
.btn:hover {
  background-color: var(--main-bg-color);
}

/* header */
header {
  height: 35px;
  background: var(--main-header-color);
  box-shadow: 0px 0px 7px 0px var(--main-box-color);
}
.header-container {
  display: flex;
  align-items: center;
  padding: 0 20px;
}
.header-container .logo {
  font-size: 24px;
  margin-right: auto;
}
.header-container .header-btn {
  position: relative;
  padding: 3px;
  border-radius: 5px;
}
.logout-container {
  position: relative;
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.logout-container .line {
  width: 100%;
  height: 2px;
  background-color: var(--main-black-color);
  transition: 0.2s;
}
.logout-container .line:nth-child(1) {
  position: absolute;
  top: 25%;
}
.logout-container .line:nth-child(2) {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.logout-container .line:nth-child(3) {
  position: absolute;
  top: calc(75% - 2px);
}
.header-container.active .logout-container .line:nth-child(1) {
  position: absolute;
  transform: rotate(45deg);
  top: 50%;
}
.header-container.active .logout-container .line:nth-child(2) {
  display: none;
}
.header-container.active .logout-container .line:nth-child(3) {
  position: absolute;
  transform: rotate(-45deg);
  top: 50%;
}
.header-container .btns {
  position: absolute;
  top: calc(100% + 2px);
  right: 0px;
  visibility: hidden;
  opacity: 0;
  background-color: var(--main-maincontainer-color);
  backdrop-filter: blur(33px);
  background-blend-mode: overlay;
  border-radius: 5px;
  transition: 0.3s;
  cursor: pointer;
  z-index: 2;
}
.header-container.active .btns {
  visibility: visible;
  opacity: 1;
  padding: 5px;
}
.header-container .logout-btn {
  border: none;
  word-break: keep-all;
  background: transparent;
  cursor: pointer;
}
.header-container.active .logout-btn:hover {
  display: inline-block;

  background: var(--main-black-color) -webkit-gradient(linear, 100% 0, 0 0, from(#acacac), color-stop(0.5, #ffffff), to(#acacac));

  background-position: -4rem top; /*50px*/
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation-name: shimmer;
  -webkit-animation-duration: 2.2s;
  -webkit-animation-iteration-count: 1;
  -webkit-background-size: 4rem 100%; /*50px*/
}

/* nav */
.navigation {
  position: absolute;
  right: 100px;
  bottom: 90px;
}
.navigation .nav-items {
  display: flex;
  gap: 5px;
}
.navigation .nav-items > div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 30px;
  padding-bottom: 2px;
  border: 2px solid var(--main-black-color);
  background: var(--main-header-color);
  box-shadow: 0px 0px 7px 0px var(--main-box-color);
  border-radius: 50%;
  cursor: pointer;
  z-index: 2;
  color: var(--main-arrow-color);
}
.navigation .nav-items > div:hover {
  filter: brightness(0.9);
}
.navigation .nav-items .moon-mode {
  transition: 0.3s;
  text-shadow: 0px 0px 5px var(--main-textshadow-color),
    0px 0px 5px var(--main-textshadow-color),
    0px 0px 5px var(--main-textshadow-color),
    0px 0px 5px var(--main-textshadow-color);
}
.navigation .nav-items .bright {
  text-shadow: 0px 0px 5px var(--main-textshadowright-color),
    0px 0px 5px var(--main-textshadowright-color),
    0px 0px 5px var(--main-textshadowright-color),
    0px 0px 5px var(--main-textshadowright-color);
}
.navigation .nav-items > div.active {
  color: var(--main-black-color);
  text-shadow: 0px 0px 5px var(--main-textshadow-color),
    0px 0px 5px var(--main-textshadow-color),
    0px 0px 5px var(--main-textshadow-color),
    0px 0px 5px var(--main-textshadow-color);
}
.navigation .nav-items .top-scroll {
  transform: rotate(270deg);
  transition: 0.3s;
}

/* main */
main {
  min-height: calc(100vh - 125px);
}
.main-container {
  padding: 50px 20px;
  align-items: center;
  margin: 20px 0;
  background: var(--main-maincontainer-color);
  border-radius: 5px;
  background-blend-mode: overlay;
  backdrop-filter: blur(33px);
  box-shadow: 0 9px 8px -7px var(--main-black-color);
  list-style: none;
}
.title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.title-container .title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 10px;
}
.title-container .sub-title {
  letter-spacing: 1px;
  margin-bottom: 5px;
}
.title-container .add-btn {
  padding: 8px;
}
.books-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  max-height: calc(100vh - 493px);
  overflow-y: auto;
}
.books-container .book {
  background-color: var(--main-subcontainer-color);
  border-radius: 5px;
  padding: 10px;
}
.books-container .book-title {
  min-height: 24px;
  margin-bottom: 10px;
}
.books-container .book-items {
  display: flex;
}
.books-container .book-btn {
  margin-right: auto;
}
.books-container .book-btn > a {
  margin-right: auto;
}
.books-container .book-btn button {
  box-shadow: 0 4px 7px -6px var(--main-black-color);
  border-bottom: none;
}
.books-container .book-btn .delete-btn:hover {
  background-color: var(--main-delete-color);
}
.books-container .book-date {
  color: #6d6d6d;
}

/* footer */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--main-footer-color);
  box-shadow: 0px 0px 7px 0px var(--main-box-color);
  height: 70px;
  width: 100%;
}
.tag {
  color: var(--main-black-color);
}
.tag:hover {
  background: var(--main-black-color) -webkit-gradient(linear, 100% 0, 0 0, from(#acacac), color-stop(0.5, #ffffff), to(#acacac));

  background-position: -4rem top; /*50px*/
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation-name: shimmer;
  -webkit-animation-duration: 2.2s;
  -webkit-animation-iteration-count: 1;
  -webkit-background-size: 4rem 100%; /*50px*/
}

@-webkit-keyframes shimmer {
  0% {
    background-position: -4rem top; /*50px*/
  }

  70% {
    background-position: 12.5rem top; /*200px*/
  }

  100% {
    background-position: 12.5rem top; /*200px*/
  }
}

/* dark */
.container,
.container button,
.container a {
  color: var(--main-darkText-color);
}
