/* main */
main {
  min-height: calc(100vh - 125px);
}
.sub-title {
  letter-spacing: 1px;
}
.books-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  max-height: calc(100vh - 431px);
  overflow-y: auto;
}
.books-container .book {
  position: relative;
  background-color: var(--bg-subContainer);
  color: var(--text-main);
  border-radius: 5px;
  padding: 10px;
}
.books-container .book-title {
  min-height: 24px;
  margin-bottom: 10px;
}
.books-container .book-items {
  display: flex;
}
.books-container .book-btn {
  display: flex;
  width: 100%;
  gap: 5px;
}
.books-container .book-date {
  position: absolute;
  top: 10px;
  right: 10px;
  color: var(--text-cloudy);
}
