:root {
  --main-bg-color: #b0ea9b;
}

* {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 16px;
}
body {
  margin: 0;
  background-image: url("https://images.unsplash.com/photo-1516979187457-637abb4f9353?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MTd8fHxlbnwwfHx8fA%3D%3D&w=1000&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* header */
header {
  height: 35px;
  background: #fffffff0;
  box-shadow: 0px 0px 7px 0px rgb(107, 107, 107);
}
.header-container {
  display: flex;
  align-items: center;
  padding: 0 20px;
}
.header-container .logo {
  font-size: 24px;
  margin-right: auto;
}
.header-container .header-btn {
  position: relative;
  padding: 3px;
  border-radius: 5px;
}
.logout-container {
  position: relative;
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.logout-container .line {
  width: 100%;
  height: 2px;
  background-color: #000;
  transition: 0.2s;
}
.logout-container .line:nth-child(1) {
  position: absolute;
  top: 25%;
}
.logout-container .line:nth-child(2) {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.logout-container .line:nth-child(3) {
  position: absolute;
  top: calc(75% - 2px);
}
.header-container.active .logout-container .line:nth-child(1) {
  position: absolute;
  transform: rotate(45deg);
  top: 50%;
}
.header-container.active .logout-container .line:nth-child(2) {
  display: none;
}
.header-container.active .logout-container .line:nth-child(3) {
  position: absolute;
  transform: rotate(-45deg);
  top: 50%;
}
.header-container .btns {
  position: absolute;
  top: calc(100% + 2px);
  right: 0px;
  visibility: hidden;
  opacity: 0;
  background-color: #ffffff7d;
  backdrop-filter: blur(33px);
  background-blend-mode: overlay;
  border-radius: 5px;
  transition: 0.3s;
  cursor: pointer;
  z-index: 2;
}
.header-container.active .btns {
  visibility: visible;
  opacity: 1;
  padding: 5px;
}
.header-container .logout-btn {
  border: none;
  word-break: keep-all;
  background: transparent;
  cursor: pointer;
}
.header-container.active .logout-btn:hover {
  display: inline-block;

  background: #000 -webkit-gradient(linear, 100% 0, 0 0, from(#acacac), color-stop(0.5, #ffffff), to(#acacac));

  background-position: -4rem top; /*50px*/
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation-name: shimmer;
  -webkit-animation-duration: 2.2s;
  -webkit-animation-iteration-count: 1;
  -webkit-background-size: 4rem 100%; /*50px*/
}

/* nav */
.navigation {
  position: absolute;
  right: 50px;
  bottom: 80px;
}
.navigation .nav-items {
  display: flex;
  gap: 5px;
}
.navigation .nav-items > div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border: 2px solid #000;
  background: #fffffff0;
  box-shadow: 0px 0px 7px 0px rgb(107, 107, 107);
  border-radius: 50%;
  cursor: pointer;
  z-index: 2;
}
.navigation .nav-items > div:hover {
  filter: brightness(0.9);
}

/* main */
main {
  min-height: calc(100vh - 120px);
}
.main-container {
  padding: 50px 20px;
  align-items: center;
  margin: 20px 0;
  background: #ffffff7d;
  border-radius: 5px;
  background-blend-mode: overlay;
  backdrop-filter: blur(33px);
  box-shadow: 0 9px 8px -7px #000;
  list-style: none;
}
.title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.title-container .title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 10px;
}
.title-container .sub-title {
  letter-spacing: 1px;
  margin-bottom: 5px;
}
.title-container .add-btn {
  padding: 5px;
  background: #ffffffc2;
  border-radius: 5px;
  border: 1px solid #e5e5e5;
  cursor: pointer;
  box-shadow: 0 4px 7px -4px #000;
  transition: 0.3s;
}
.title-container .add-btn:hover {
  background-color: var(--main-bg-color);
}
.title-container .add-btn button {
  background: transparent;
  border: none;
  cursor: pointer;
}
.books-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.books-container .book {
  background-color: #ffffffc2;
  border-radius: 5px;
  padding: 10px;
}
.books-container .book-title {
  margin-bottom: 10px;
}
.books-container .book-items {
  display: flex;
}
.books-container .book-btn {
  margin-right: auto;
}
.books-container .book-btn > button {
  cursor: pointer;
  border-radius: 5px;
  background: none;
  border: 1px solid #e5e5e5;
  background: #ffffffa6;
  box-shadow: 0 4px 7px -6px #000;
  transition: 0.3s;
}
.books-container .book-btn > button:first-child:hover {
  background-color: var(--main-bg-color);
}

.books-container .book-btn > button:last-child:hover {
  background-color: var(--main-bg-color);
}
.books-container .book-date {
  color: #6d6d6d;
}
/* footer */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff9e;
  box-shadow: 0px 0px 7px 0px rgb(107 107 107);
  top: calc(100% - 70px);
  position: absolute;
  height: 70px;
  width: 100%;
}
.tag {
  color: #000;
  text-decoration: none;
}
.tag:hover {
  background: #000 -webkit-gradient(linear, 100% 0, 0 0, from(#acacac), color-stop(0.5, #ffffff), to(#acacac));

  background-position: -4rem top; /*50px*/
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation-name: shimmer;
  -webkit-animation-duration: 2.2s;
  -webkit-animation-iteration-count: 1;
  -webkit-background-size: 4rem 100%; /*50px*/
}

@-webkit-keyframes shimmer {
  0% {
    background-position: -4rem top; /*50px*/
  }

  70% {
    background-position: 12.5rem top; /*200px*/
  }

  100% {
    background-position: 12.5rem top; /*200px*/
  }
}
